<!DOCTYPE html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人健康</title>
    <meta name="description" content="个人健康">
    <meta name="keywords" content="个人健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }
        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
        .tangram-suggestion-main{
            z-index: 9999;
        }
    </style>
    <!--引入百度样式-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
        #l-map{height:500px;width:100%;}
        #m-map{height:300px;width:100px;}
        #r-result{width:100%;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=awDpnZaxxBWWTgZIxm38CnhKZFoWZ321"></script>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>首页<small>公司分布图</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>工作台</el-breadcrumb-item>
            <el-breadcrumb-item>公司分布图</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="add-form">
    <template>
        <el-tabs  v-model="activeName_map" type="card" @tab-click="handleClick">

            <el-tab-pane label="分布图" name="first" :key="'first'">
                <div id="l-map" @click="baiduMap()"></div>
            </el-tab-pane>

            <el-tab-pane label="详细信息" name="second" :key="'second'">

                <div class="app-container">
                    <div class="box">
                        <div class="filter-container">
                            <el-input placeholder="公司名称" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                            <el-button @click="findPage(1)" class="dalfBut">查询</el-button>
                            <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                        </div>
                        <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                            <el-table-column type="index" align="center" label="序号"></el-table-column>
                            <el-table-column prop="name" label="公司地址" align="center"></el-table-column>
                            <el-table-column prop="xoffse" label="所在经度" align="center"></el-table-column>
                            <el-table-column prop="yoffse" label="所在维度" align="center"></el-table-column>
                            <el-table-column label="操作" align="center">
                                <template slot-scope="scope">
                                    <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>


                        <!--设置分页展示的容器和展示时机-->
                        <div class="pagination-container">
                            <el-pagination
                                    class="pagiantion"
                                    @current-change="handleCurrentChange"
                                    :current-page="pagination.currentPage"
                                    :page-size="pagination.pageSize"
                                    layout="total, prev, pager, next, jumper"
                                    :total="pagination.total">
                            </el-pagination>
                        </div>

                        <!-- 新增标签弹层 -->
                        <div class="add-form">
                            <!--这里的dialogForVisible来控制是否显示-->
                            <el-dialog title="新增地址" :visible.sync="dialogFormVisible" @opened="alreadyShowDialog">

                                <el-form ref="dataAddForm" :model="formData" label-position="right" label-width="100px" style="overflow: hidden">

                                    <el-col :span="24">
                                        <el-form-item label="新增地址:">
                                            <div id="r-result"><input type="text" id="suggestId" size="20" value="请输入地址" style="width:150px;" />
                                                <el-button type="primary" size="mini" @click="addAddress()">确定</el-button>
                                            </div>

                                            <div id="m-map" style="width: 100%"></div>
                                            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                        </el-form-item>
                                    </el-col>

                                </el-form>

                            </el-dialog>
                        </div>

                    </div>
                </div>

            </el-tab-pane>

        </el-tabs>
    </template>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data:{
            map:'',
            //address : '',
            //lng:'',
            //lat:'',
            return:{
                activeName_map: 'second',
                map: null,
                local: null,
            },
            activeName:'first',//添加/编辑窗口Tab标签名称
            activeName_map:'first',
            pagination: {//分页相关属性
                currentPage: 1,//当前页码
                pageSize:10,//每页显示的记录数
                total:100,//总记录数
                queryString:null,//查询条件
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//编辑表单是否可见
        },
        mounted(){
            this.mapInit();
            //this.baiduMap();
            //延时加载
            this.$nextTick(()=>{
                let t1 = setTimeout(()=>{
                    this.baiduMap();
                    clearTimeout(t1)
                },10);
            });
        },
        //钩子函数，在vue对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            //tab切换
            handleClick(tab) {
               if(tab.name === "first"){
                   // this.map = new BMap.Map("l-map");
                   // this.map.enableScrollWheelZoom(true);
                   //定位中心点
                   // this.map.centerAndZoom(new BMap.Point(116.404, 39.915), 9);
                   //发送ajax请求查询所有的检查组数据并回显
                   //this.mapInit();
                   // this.address='';
                   // this.lng='';
                   // this.lat='';
                   // this.baiduMap();
               }
            },

            //分页查询
            findPage(thePage) {
                //发送ajax请求，提交分页参数最后处理查询结果
                let _currentPage = thePage ? thePage:this.pagination.currentPage;
                //分页参数
                let param={
                    currentPage:_currentPage,//页码
                    pageSize:this.pagination.pageSize,//每页显示的记录数
                    queryString:this.pagination.queryString//查询条件
                };
                //请求后台
                axios.post("/bmap/findPage.do",param).then((response)=>{
                    //为模型数据去赋值，基于vue风格的双向绑定展示到页面
                    this.dataList=response.data.rows;
                    this.pagination.total=response.data.total;
                });
            },
            // 重置表单
            resetForm() {
                this.formData={};
                this.activeName="first";
                this.checkitemIds=[];
                this.imageUrl= null;
            },
            // 弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;

            },
            //加载回调函数
            alreadyShowDialog(){
                this.baiduMap_m();
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            //百度API
            baiduMap(){
                // var map = new BMap.Map("l-map");
                // //开启鼠标滚轮缩放
                // map.enableScrollWheelZoom(true);
                // //定位中心点
                // map.centerAndZoom(new BMap.Point(116.404, 39.915), 9);
                //发送ajax请求查询所有的检查组数据并回显
                axios.get("/bmap/findAll.do").then((response)=>{
                    if(response.data.flag){
                        for( i in response.data.data){
                            var point = new BMap.Point(response.data.data[i].xoffse,response.data.data[i].yoffse);
                            var marker = new BMap.Marker(point);
                            map.addOverlay(marker);// 将标注添加到地图中
                            var label = new BMap.Label(response.data.data[i].name , {offset: new BMap.Size(20, -10)});
                            marker.setLabel(label);
                        }
                    }else {
                        this.$message.error(response.data.message);
                    }
                });


            },
            //小地图的API
            baiduMap_m(){
                function G(id) {
                    return document.getElementById(id);
                }

                var map = new BMap.Map("m-map");
                map.centerAndZoom("北京", 12);                   // 初始化地图,设置城市和地图级别。

                var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                    {
                        "input": "suggestId"
                        , "location": map
                    });

                ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
                    var str = "";
                    var _value = e.fromitem.value;
                    var value = "";
                    if (e.fromitem.index > -1) {
                        value = _value.province + _value.city + _value.district + _value.street + _value.business;
                    }
                    str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

                    value = "";
                    if (e.toitem.index > -1) {
                        _value = e.toitem.value;
                        value = _value.province + _value.city + _value.district + _value.street + _value.business;
                    }
                    str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
                    G("searchResultPanel").innerHTML = str;
                });

                var myValue;
                ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
                    var _value = e.item.value;
                    myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
                    G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

                    setPlace();
                });

                var pp;
                function setPlace() {
                    map.clearOverlays();    //清除地图上所有覆盖物
                    function myFun() {
                        pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                        map.centerAndZoom(pp, 18);
                        map.addOverlay(new BMap.Marker(pp));    //添加标注
                        this.lng = pp.lng;
                        this.lat = pp.lat
                    }

                    var local = new BMap.LocalSearch(map, { //智能搜索
                        onSearchComplete: myFun
                    });
                    local.search(myValue);
                    this.address = myValue;
                }


            },

            //新增地址
            addAddress(){
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        axios.post("/bmap/addAddress.do",{
                            name:address,
                            xoffse:lng,
                            yoffse:lat,
                        }).then((res) => {}).finally(()=>{
                            //执行完这个新增动作后，无论成功失败，重新刷新整个分页
                            this.findPage();
                        });;
                        this.dialogFormVisible = false;
                        this.$message.success("地址添加成功");
                    } else {
                        this.$message.error("地址添加失败");
                        return false;
                    }
                });
            },

            //删除地址
            handleDelete(row){
                this.$confirm("确认删除当前地址吗？","提示",{type:'warning'}).then(()=>{
                    //点击确定执行then方法
                    axios.post("/bmap/delete.do?id="+row.id).then((response)=>{
                        if(response.data.flag){
                            //删除成功
                            this.$message.success(response.data.message);
                            this.findPage();
                        }else{
                            //删除失败
                            this.$message.error(response.data.message);
                        }
                    }).catch((response)=>{
                        //当权限不足时会执行catch方法（响应正常但数据请求被拦截403）
                        this.showMessage(response);
                    });
                }).catch(()=>{
                    //点击取消按钮时执行此代码
                    this.$message('操作已取消');
                });
            },

            //权限控制
            showMessage(r){
                if(r=='Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('无访问权限');
                    return;
                }else {
                    this.$message.error('未知错误');
                    return;
                }
            },

            //初始化地图
            mapInit(){
                map = new BMap.Map("l-map");
                //开启鼠标滚轮缩放
                map.enableScrollWheelZoom(true);
                //定位中心点
                map.centerAndZoom(new BMap.Point(116.404, 39.915), 13);
            }
        }

    })
</script>

</html>
