<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.LIGY.health.mapper.DiseaseMapper">
    <select id="selectByCondition" parameterType="string" resultType="illKonw">
        select * from t_illkonw
        <if test="value != null and value.length > 0">
            where keyword = #{value}
        </if>
    </select>

    <!--根据id查询-->
    <select id="findById" resultType="com.LIGY.pojo.IllKonw" parameterType="Integer">
        select * from t_illkonw where id = #{id}
    </select>

    <!--提交编辑表单-->
    <update id="edit" parameterType="com.LIGY.pojo.IllKonw">
        update t_illKonw
        <set>
            <if test="illname != null">
                illname = #{illname},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="advice != null">
                advice = #{advice},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">

        delete from t_illKonw where  id = #{id}
    </delete>

    <!--    <resultMap id="resultMap" type="ill">-->
    <!--        <id column="setmeal_id" property="id"></id>-->
    <!--        <result column="s_code" property="code"></result>-->
    <!--        <result column="s_nameOfDisease" property="nameOfDisease"/>-->
    <!--        <result column="s_type" property="type"/>-->
    <!--        <result column="s_occupational" property="occupational"/>-->
    <!--        <result column="s_gender" property="gender"/>-->
    <!--        <result column="s_hospitaldate" property="hospitaldate"/>-->
    <!--        <result column="s_hospitalroom" property="hospitalroom"/>-->
    <!--        <result column="s_alarm" property="alarm"/>-->
    <!--        <result column="s_othername" property="othername"/>-->
    <!--        <result column="s_medicalExplanation" property="medicalExplanation"/>-->
    <!--        <result column="s_causes" property="causes"/>-->
    <!--        <result column="s_advice" property="advice"/>-->
    <!--    </resultMap>-->

    <insert id="add" parameterType="com.LIGY.pojo.IllKonw">
        insert into t_illkonw(illname,keyword,description,advice)VALUES (#{illname},#{keyword},#{description},#{advice})
    </insert>

    <resultMap id="resultMap" type="illKonw">
        <id column="id" property="id"/>
        <result column="illname" property="illname"/>
        <result column="keyword" property="keyword"/>
        <result column="description" property="description"/>
        <result column="advice" property="advice"/>
    </resultMap>
</mapper>
